<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ponto 1.0-alpha</title>
</head>
<body>
    <section id="ponto">
        <p>Ponto 1.0-alpha</p>
        <nav class="navegacao">
            <p class="menuTitulo">Menu principal</p>
            <ul class="listaItensMenu">
                <li class="itemMenu">
                    <a href="/app/cabecalho" class="botaoMenu">Configurar cabecalho</a>
                </li>
                <li class="listaItensMenu">
                    <a href="/app/registro" class="botaoMenu">Registrar ponto</a>
                </li>
            </ul>
        </nav>
        {% block main %}{% endblock %}
        <h2>Cabecalho</h2>
        {% if configs %} 
            <p>Estudante: {{configs["cbc_estudante"]}}</p>
            <p>Matricula: {{configs["cbc_matricula"]}}</p>
            <p>Curso: {{configs["cbc_curso"]}}</p>
            <p>Periodo: {{configs["cbc_periodo"]}}</p>
            <p>IES: {{configs["cbc_ies"]}}</p>
            <p>Modalidade: {{configs["cbc_modalidade"]}}</p>
            <p>Local de estágio: {{configs["cbc_local_estagio"]}}</p>
            <p>Supervisor: {{configs["cbc_supervisor"]}}</p>
            <p>Mes: {{configs["cbc_mes"]}}</p>
            <p>Ano: {{configs["cbc_ano"]}}</p>
        {% endif %}
        <h2>Lista de registros</h2>
        <table>
          <thead>
            <td>ID</td>
            <td>DT</td>
            <td>Entrada</td>
            <td>Intervalo</td>
            <td>Saida</td>
            <td>CC</td>
            <td>Atividade</td>
          </thead>
          {% for reg in registros["list"] %}
          <tr>
            <td>{{reg["reg_id"]}}</td>
            <td>{{reg["reg_data"]}}</td>
            <td>{{reg["reg_entrada"]}}</td>
            <td>{{reg["reg_intervalo"]}}</td>
            <td>{{reg["reg_saida"]}}</td>
            <td>{{reg["reg_carga_cumprida"]}}</td>
            <td>{{reg["reg_atividade"]}}</td>
          </tr>
          {% endfor %}>
        </table>
    </section>
</body>
</html>